body {
    background-color: #121212;
    color: white;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 20%;
    left: 38.5%;
    transform: translate(50% -50%);
}

.homebutton {
    background: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 6px;
    padding: 15px 25px 15px 25px;
    position: absolute;
    top: 0%;
    left: 40%;
    transform: translate(50% -50%);
    transition: ease-in-out .2s;
}

    .homebutton:hover {
        background: #999999;
    }

.rumor2button {
    background: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 6px;
    padding: 15px 12px 15px 12px;
    position: absolute;
    top: 0%;
    left: 53%;
    transform: translate(50% -50%);
    transition: ease-in-out .2s;
}

    .rumor2button:hover {
        background: #999999;
    }

    .isoldDescription {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 0%;
        transform: translate(50% -50%);
    }